{{!--
Re-usable card for linking to posts
--}}
<article class="w-full overflow-hidden">
    <a class="" href="{{url}}">
        {{#if feature_image}}
            <img class="inline-block object-cover w-full h-32 align-middle md:h-64"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 400px, 600px"
                src="{{img_url feature_image size="m"}}"
                alt="{{title}}"
            />
        {{/if}}
        <div class="w-full">
            <div class="py-2 mx-auto text-xs font-bold text-center font-text text-grayPrimary"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</div>
            <h2 class="text-2xl font-header text-grayPrimary hover:text-primary">{{title}}</h2>
            <p class="pb-4 text-xs font-text text-grayPrimary">{{excerpt}} ...</p>
            <div class="w-full mx-auto mb-2 text-center"><button class="p-2 text-sm antialiased bg-white rounded-none border-grayPrimary text-grayPrimary font-subheader hover:bg-graySecondary">Read more</button>
            </div>
        </div>
    </a>
</article>
<hr>
