{{!
Re-usable card for linking to posts
}}
<article class="z-0 flex flex-col overflow-hidden rounded-lg article-tag">
  <a class="" href="{{url}}">
    <div class="flex-shrink-0">
      {{#if feature_image}}
        <img
          class="object-cover w-full h-48"
          srcset="{{img_url feature_image size="s"}}
             150w,
            {{img_url feature_image size="m"}}
             300w,
            {{img_url feature_image size="l"}}
             5000w,
            {{img_url feature_image size="xl"}}
             1000w"
          sizes="(max-width: 300px) 200px, 300px"
          src="{{img_url feature_image size="m"}}"
          alt="{{title}}"
        />
      {{else}}
        <img
          class="object-cover w-full h-48"
          src="{{@custom.default_image_posts}}"
          sizes="(max-width: 600px) 400px, 600px"
          src="{{img_url feature_image size="m"}}"
          alt="{{title}}"
        />
      {{/if}}
    </div>
    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
      <div class="flex-1">
        <h2 class="text-xl font-semibold text-grayPrimary">
          {{title}}
        </h2>
        <p class="mt-3 text-base text-graySecondary">
          {{excerpt}}
        </p>
      </div>
      <div class="flex my-4 space-x-1 text-sm text-graySecondary">
        <time datetime="{{date format="YYYY-MM-DD"}}">
          {{date format="DD.MM.YYYY"}}
        </time>
        <span aria-hidden="true">
          ·
        </span>
        <span>
          {{reading_time}}
        </span>
      </div>
      <div class="w-full mx-auto mb-2 text-center">
        <a
          href="{{url}}"
          class="text-base font-semibold text-grayPrimary hover:text-graySecondary"
        >
          Read more
          <span aria-hidden="true">
            →
          </span>
        </a>
      </div>
    </div>
  </a>
</article>