  {{#unless isSecondary}}
  <!-- mobile menu hamburger -->
  <div class="w-full sm:hidden" onclick="mobileMenu()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 32 32"
    stroke="currentColor"
    class="w-6 mx-auto"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    ></path>
  </svg>
</div>
<!-- menu -->
<div id="nav-content">
  <ul class="z-50 hidden text-base text-center align-middle select-none sm:flex sm:-my-px sm:ml-8 sm:space-x-8" id="myLinks">

         {{#foreach navigation}}
  
   <li class="nav-{{slug}}  last:border-b-2 sm:last:border-b-0 sm:hover:bg-transparent hover:bg-primary/50 block first:ml-0 list-none md:py-0 py-2 md:inline hover:text-graySecondary"><a class="{{#if current}}text-mypink underline decoration-4 decoration-green-400{{/if}} transition duration-300 ease-in-out hover:decoration-green-400 hover:underline text-graySecondary inline-flex items-center pt-1" href="{{url absolute=" true"}}">{{label}}</a></li>
    {{/foreach}}
  </ul>
  </div>
{{/unless}}
{{#if isSecondary}}
<nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
    {{#foreach navigation}}
    <div class="px-5 py-2">
  <a href="{{url absolute=" true"}}" class="text-basetext-grayPrimary text-graySecondary">
   {{label}}
  </a>
</div>
    {{/foreach}}
</nav>

{{/if}}
