      
      <div class="relative group post" data-slug="{{#foreach tags}}  {{^match name "=" "Resources"}}{{name}}{{/match}}{{/foreach}}">
        <div class="w-full overflow-hidden bg-gray-200 min-h-80 aspect-w-1 aspect-h-1 group-hover:opacity-75 lg:aspect-none lg:h-80">
          
          <img src="{{#if feature_image}} {{img_url feature_image size="m"}} {{else}} {{#if @custom.default_image_posts}}{{@custom.default_image_posts}}{{else}}{{asset "images/default.jpg"}}{{/if}}{{/if}}" alt="{{title}}" class="object-cover object-center w-full h-full lg:h-full lg:w-full">
         

        </div>
        <div class="flex justify-between p-4 mt-0 bg-grayPrimary-light">
          <div>
            <h3 class="text-sm font-bold text-Primary">
              <a href="{{url}}">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{title}}
              </a>
            </h3>
            <p class="w-full mt-2 text-sm prose prose-p text-graySecondary">{{excerpt}}</p>
          </div>
          <p class="px-2 text-sm font-medium text-graySecondary">{{#foreach tags}}  {{^match name "=" "Resources"}}{{name}}{{/match}} {{/foreach}}</p>
        </div>
      </div>