{{!< default}}

<div class="gh-page">
    <div class="gh-container">

        {{#author}}
        <header class="gh-page-head">
  
{{#if cover_image}}
  <div class="max-w-full mx-auto">
    <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
      <div class="absolute inset-0">
        <img
          loading="lazy"
          class="object-cover w-full h-full"
          src="{{cover_image}}"
          alt="{{name}}"
        />
        <div class="absolute inset-0 bg-grayPrimary mix-blend-hard-light"></div>
      </div>
      <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        {{#if profile_image}}
          <img class="gh-author-image" src="{{profile_image}}" alt="{{name}}" />
        {{/if}}
        <h1
          class="text-4xl font-extrabold tracking-tight text-center text-transparent sm:text-5xl lg:text-6xl bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500"
        >
          {{name}}
        </h1>
      </div>
    </div>
  </div>
{{else if profile_image}}
  <img class="gh-author-image" src="{{profile_image}}" alt="{{name}}" />
  <h1 class="text-2xl font-header">
    {{name}}
  </h1>
{{/if}}
            {{#if bio}}
                <p>{{bio}}</p>
            {{/if}}

            <div class="gh-author-meta">
                <div class="gh-author-links">
                    {{#if website}}
                        <a href="{{website}}" target="_blank" rel="noopener">Website</a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
                    {{/if}}
                </div>
            </div>




        </header>
        {{/author}}

        <div class="grid max-w-lg gap-5 mx-auto mt-12 lg:grid-cols-3 lg:max-w-none">
            {{#if posts}}
            
        {{#foreach posts}}
         
            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        {{/if}}
        </div>

    </div>
</div>
