{{!< default}}

{{#post}}
<article class="gh-article {{post_class}}">
    <header class="gh-header">
      {{#if feature_image}}
        <div class="relative">
  <div class="max-w-full mx-auto sm:px-6 lg:px-8">
    <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
      <div class="absolute inset-0">
        <img
        loading="lazy"
          class="object-cover w-full h-full"
         src="{{img_url feature_image size="xl"}}"
            alt="{{title}}"
        />
        <div class="absolute inset-0 bg-grayPrimary mix-blend-hard-light"></div>
      </div>
      <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        <h1
          class="py-4 text-4xl font-extrabold tracking-tight text-center text-transparent sm:text-5xl lg:text-6xl bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500"
        >
{{title}}
        </h1>

    </div>
  </div>
</div>
        {{else}}
        <h1
  class="text-4xl font-extrabold tracking-tight text-center sm:text-5xl lg:text-6xl "
>
  {{title}}
</h1>
        {{/if}}
    </header>

{{#get "posts" filter="tags:resources"}}

{{> "resource-cards" posts=posts}} {{! partials/resource-cards.hbs }}

{{/get}}



{{/post}}
