{{!< default}}
{{#post}}
<div class="z-20 px-4 mx-auto max-w-7xl sm:px-6 ">
    
    <div class="pt-4 lg:grid lg:grid-cols-7 lg:grid-rows-1 lg:gap-x-8 xl:gap-x-16 ">
      
      <div class="lg:col-span-4 lg:row-end-1">
        <div class="overflow-hidden rounded-none bg-graySecondary aspect-w-4 aspect-h-3">
          <img src="{{#if feature_image}} {{img_url feature_image size="m"}} {{else}} {{#if @custom.default_image_posts}}{{@custom.default_image_posts}}{{else}}{{asset "images/default.jpg"}}{{/if}}{{/if}}" alt="{{title}}" class="object-cover w-full h-full">
        </div>
      </div>
      <div class="max-w-2xl mx-auto lg:col-span-3 lg:row-span-2 lg:row-end-2 lg:mt-0 lg:max-w-none text-graySecondary">
        <div class="flex flex-col-reverse">
          <div class="">
            <h1 class="mb-2 text-2xl font-bold tracking-tight sm:text-3xl text-graySecondary">{{title}}</h1>
                  {{#foreach tags}}
       {{^match name "=" "Resources"}}<span class="font-mono inline-flex items-center px-3 py-0.5 text-sm font-medium bg-primary text-grayPrimary">{{name}}</span>{{/match}}
      {{/foreach}}
          </div>
        </div>

      <div class="prose text-graySecondary">
                <p class="">
             {{content}}
        </p>
      </div>

       <div class="pt-10 mt-10 border-t border-gray-200">
        {{> "share-block"}}
        </div>

      </div>
 
      <div class="w-full max-w-2xl mx-auto mt-16 lg:col-span-4 lg:mt-1 lg:max-w-none">
        <div>
          {{comments}}         
        </div>
      </div>
    </div>
  </div>
  {{/post}}