<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>


    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in

    <head> --}}

    </head>

<body class="{{body_class}} h-full bg-white dark:bg-grayPrimary font-text leading-normal tracking-normal text-grayPrimary dark:text-graySecondary">

    <nav id="header" class="fixed top-0 z-10 w-full bg-white dark:bg-grayPrimary">

        <div id="progress" class="top-0 z-20 h-1"
            style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

        <div class="flex flex-wrap w-2/3 py-3 mx-auto mt-0">

            <div class="w-full pr-8 mx-auto text-center md:w-full lg:w-auto xl:w-auto">
                <a class="text-xl antialiased font-bold no-underline text-grayPrimary hover:no-underline font-header sm:text-center"
                    href="{{@site.url}}">
                    {{#if @site.logo}}
                    <picture>
                    <source
                    srcset="https://isthisup.eu/content/images/2021/10/Copy-of-Logo-Alessandro-Belli--1-.svg"
                    media="(prefers-color-scheme: dark)">
                    <img class="w-64 h-12" src="{{@site.logo}}" alt= "{{@site.title}}">
                    </picture>
                    {{else}}
                    {{@site.title}}
                    {{/if}}
                </a>
            </div>



            <div class="z-20 flex-shrink w-full mx-auto mt-2 text-right sm:text-sm md:flex md:items-center md:w-auto md:mt-0"
                id="nav-content">
                {{navigation}}
            </div>
        </div>
    </nav>

    <!--Container-->
    <div class="container w-full h-auto pt-20 mx-auto mt-4 md:w-1/2">


        {{{body}}}

    </div>
    <!--/container-->
    {{ghost_foot}}

    <script>
  document.addEventListener('DOMContentLoaded', detectDarkMode);

        function detectDarkMode()
        {

        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
  document.documentElement.classList.add('dark')
  document.querySelector('#textToggleDark').innerHTML = 'Feeling Light?';
  localStorage.theme = 'dark'
  document.getElementById("toggleDark").checked = true;
} else {
    document.querySelector('#textToggleDark').innerHTML = 'Feeling Dark?';
    
  localStorage.theme = 'light'
  document.documentElement.classList.remove('dark')
}

        }
document.addEventListener('click', function (event) {
	// If the clicked element doesn't have the right selector, bail
	if (event.target.matches('#toggleDark')){
         let htmlClasses = document.querySelector('html').classList;

  if(localStorage.theme === 'dark'){
          document.querySelector('#textToggleDark').innerHTML = 'Feeling Dark?';
                        htmlClasses.remove('dark');
              localStorage.theme = 'light'
  }else if (localStorage.theme === 'light'){
        document.querySelector('#textToggleDark').innerHTML = 'Feeling Light?';
            htmlClasses.add('dark');
            localStorage.theme = 'dark';

      localStorage.theme = 'dark'
  }    
    }


}, false);
    </script>
</body>

</html>