<!DOCTYPE html>
<html lang="{{@site.locale}}" class="{{body_class}}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>
    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in

    <head> --}}

    </head>

<body class="{{body_class}} bg-white dark:bg-grayPrimary font-text leading-normal tracking-normal text-grayPrimary dark:text-graySecondary px-2 sm:px-0">

    <nav id="header" class="fixed top-0 w-full h-auto bg-white dark:bg-grayPrimary">


        <div class="flex flex-wrap w-2/3 py-3 mx-auto mt-0">

            <div class="w-full pr-8 mx-auto text-center md:w-full lg:w-auto xl:w-auto">
                <a class="text-xl antialiased font-bold no-underline text-grayPrimary hover:no-underline font-header sm:text-center"
                    href="{{@site.url}}">
                    {{#if @site.logo}}
                    <picture>
                    <source
                    srcset="https://alessandrobelli.it/content/images/2021/10/Copy-of-Logo-Alessandro-Belli--1-.svg"
                    media="(prefers-color-scheme: dark)">
                    <img class="w-64 h-12" src="{{@site.logo}}" alt= "{{@site.title}}">
                    </picture>
                    {{else}}
                    {{@site.title}}
                    {{/if}}
                </a>
            </div>



            <div class="z-20 flex-shrink w-full mx-auto mt-2 text-right sm:text-sm md:flex md:items-center md:w-auto md:mt-0"
                id="nav-content">
                {{navigation}}
            </div>
        </div>
    </nav>

    <!--Container-->
    <div class="container w-full pt-20 mx-auto mt-4 md:w-2/3 ">

        {{{body}}}

    </div>

<footer class="leading-normal tracking-normal bg-white dark:bg-grayPrimary font-text text-grayPrimary dark:text-graySecondary">
  <div class="container flex flex-wrap w-2/3 py-3 mx-auto mt-6">
    <div class="flex flex-wrap w-full mx-auto">
      <div class="flex w-full md:w-1/2">
        <div class="px-8 mx-auto">
          <h2 class="font-bold">
            {{@site.title}}
          </h2>
          <p class="py-4 text-sm">
            {{@site.description}}
          </p>
        </div>
      </div>
      <div class="flex w-full md:w-1/2">
        <div class="mx-auto text-sm">
          <h2 class="font-bold">
            Links
          </h2>
          {{navigation type="secondary"}}
        </div>
      </div>
    </div>
 
  
    <span class="px-8 mx-auto text-sm text-graySecondary">
      Ghost theme template by
      <a class="underline" href="#" target="_blank" rel="noopener">
        Me.
      </a>
    </span>
 </div>
</footer>
    <!--/container-->
    {{ghost_foot}}

<script>

  {{#match @custom.dark_mode_selection "Always Dark"}}
 document.documentElement.classList.add('dark')
        document.querySelector('#textToggleDark').innerHTML = 'Feeling Light?';
        localStorage.theme = 'dark'
        document.getElementById("toggleDark").checked = true;
{{/match}}
{{#match @custom.dark_mode_selection "Always  Light"}}
document.querySelector('#textToggleDark').innerHTML = 'Feeling Dark?';
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
{{/match}}


/* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
function mobileMenu() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script>
</body>

</html>