<!DOCTYPE html>
<html lang="{{@site.locale}}" class="bg-grayPrimary">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
      <title>{{meta_title}}</title>
      {{ghost_head}}
      {{!-- Outputs important meta data and settings, should always be in
      <head> --}}
   </head>
   <body class="{{body_class}} bg-grayPrimary font-text leading-normal tracking-normal text-graySecondary px-2 sm:px-0">
      <nav id="header" class="top-0 w-full h-auto bg-grayPrimary">
         <div class="items-center px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="items-center {{#match @custom.homepage_layout "Full Width"}}justify-center {{else}}justify-between {{/match}} flex-shrink-0 block align-middle lg:h-16 sm:flex">
                  <div class="block text-center sm:flex">
                     <a class="mt-2 text-2xl antialiased font-bold no-underline sm:mt-0 text-graySecondary hover:no-underline font-header sm:text-center"
                        href="{{@site.url}}">
                     {{#if @site.logo}}
                     <img class="pb-2 pr-2" style="max-width: 600px;max-height: 72px" src="{{@site.logo}}" alt= "{{@site.title}}">
                     {{else}}
                     {{@site.title}}
                     {{/if}}
                     </a>
                  {{navigation}}
               </div>
            </div>
         </div>
      </nav>
      <!--Container-->
      <div class="z-20 px-4 mx-auto max-w-7xl sm:px-6 ">
         {{{body}}}
         <footer class="bg-grayPrimary font-text text-graySecondary max-w-7xl">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
    {{navigation type="secondary"}}
    <div class="items-center justify-center block mt-8 text-center">
      <div class="block w-full">
        Published with
        <a class="underline" href="https://www.ghost.org" title="Ghost">
          Ghost
        </a>
      </div>
      {{#if @custom.theme_creator_attribution}}
        <div class="block w-full">
          Ghost theme template by
          <a
            class="underline"
            href="https://www.alessandrobelli.it"
            target="_blank"
            rel="noopener"
            title="Theme Creator"
          >
            Alessandro&nbsp;Belli</a>
        </div>
      {{/if}}
    </div>
  </div>
</footer>
      </div>
 
      <!--/container-->
      {{ghost_foot}}
      <script>
         /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
         function mobileMenu() {
             var x = document.getElementById("myLinks");
             if (x.style.display === "block") {
                 x.style.display = "none";
             } else {
                 x.style.display = "block";
             }
         }
      </script>
   </body>
</html>