<!DOCTYPE html>
<html lang="{{@site.locale}}" class="bg-grayPrimary">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>
    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in

    <head> --}}

    </head>

<body class="{{body_class}} bg-grayPrimary font-text leading-normal tracking-normal text-graySecondary px-2 sm:px-0">

    <nav id="header" class="top-0 w-full h-auto bg-grayPrimary">


        <div class="flex flex-wrap w-2/3 py-3 mx-auto mt-0">

            <div class="w-full pr-8 mx-auto text-center md:w-full lg:w-auto xl:w-auto">
                <a class="text-xl antialiased font-bold no-underline text-grayPrimary hover:no-underline font-header sm:text-center"
                    href="{{@site.url}}">
                    {{#if @site.logo}}
                    <picture>
                    <source
                    srcset="https://alessandrobelli.it/content/images/2021/10/Copy-of-Logo-Alessandro-Belli--1-.svg"
                    media="(prefers-color-scheme: dark)">
                    <img class="w-64 h-12" src="{{@site.logo}}" alt= "{{@site.title}}">
                    </picture>
                    {{else}}
                    {{@site.title}}
                    {{/if}}
                </a>
            </div>



            <div class="z-50 flex-shrink w-full mx-auto mt-2 text-right sm:text-sm md:flex md:items-center md:w-auto md:mt-0"
                id="nav-content">
                {{navigation}}
            </div>
        </div>
    </nav>

    <!--Container-->
    <div class="z-20 px-4 mx-auto mt-8 max-w-7xl sm:mt-24 sm:px-6 lg:mt-20">

        {{{body}}}

    </div>

<footer class="bg-grayPrimary font-text text-graySecondary">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">

            {{navigation type="secondary"}}

    <div class="flex justify-center mt-8 space-x-6">
      Ghost theme template by&nbsp;
      <a class="underline" href="#" target="_blank" rel="noopener">
         Me.
      </a>
    </div>
 </div>
</footer>
    <!--/container-->
    {{ghost_foot}}

<script>



/* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
function mobileMenu() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script>
</body>

</html>