<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>


    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in

    <head> --}}

    </head>

<body class="{{body_class}} bg-white font-text leading-normal tracking-normal">

    <nav id="header" class="fixed top-0 z-10 w-full">

        <div id="progress" class="top-0 z-20 h-1"
            style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

        <div class="flex flex-wrap items-center justify-between w-full py-3 mx-auto mt-0 md:w-1/2 ">

            <div class="w-full pr-8 text-center sm:w-full lg:w-auto xl:w-auto">
                <a class="text-base antialiased font-bold no-underline text-grayPrimary hover:no-underline font-header sm:text-center"
                    href="{{@site.url}}">
                    {{#if @site.logo}}
                    <img class="h-12" src="{{@site.logo}}" alt="{{@site.title}}" />
                    {{else}}
                    {{@site.title}}
                    {{/if}}
                </a>
            </div>

            <div class="block mx-auto lg:hidden sm:w-full lg:w-auto xl:w-auto">
                <button id="nav-toggle"
                    class="flex items-center px-3 py-2 text-black border border-gray-600 rounded appearance-none focus:outline-none hover:text-gray-900 hover:border-green-500 focus:ring">
                    <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>

            <div class="z-20 flex-grow hidden w-full mt-2 bg-gray-100 lg:flex lg:items-center lg:w-auto lg:mt-0 md:bg-transparent"
                id="nav-content">
                {{navigation}}
            </div>
        </div>
    </nav>

    <!--Container-->
    <div class="container w-full h-auto pt-20 mx-auto md:w-1/2">


        {{{body}}}
        {{> subscribe}}
    </div>
    <!--/container-->

    <footer class="bg-white border-t border-gray-400 shadow">
        <div class="container flex max-w-4xl py-8 mx-auto">

            <div class="flex flex-wrap w-full mx-auto">
                <div class="flex w-full md:w-1/2 ">
                    <div class="px-8">
                        <h3 class="font-bold text-gray-900">{{@site.title}}</h3>
                        <p class="py-4 text-sm text-gray-600">
                            {{@site.description}}
                        </p>
                    </div>
                </div>

                <div class="flex w-full md:w-1/2">
                    <div class="px-8">
                        <h3 class="font-bold text-gray-900">Links</h3>
                        {{navigation type="secondary"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="container flex max-w-4xl py-8 mx-auto">
            <span class="px-8 text-sm text-gray-400">
                Ghost theme template by
                <a class="underline" href="#" target="_blank" rel="noopener">
                    Me.
                </a>
            </span>
        </div>
    </footer>

    <script>
        /* Progress bar */
        //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight',
            progress = document.querySelector('#progress'),
            scroll;
        var scrollpos = window.scrollY;
        var header = document.getElementById("header");
        var navcontent = document.getElementById("nav-content");
        document.addEventListener('scroll', function () {
            /*Refresh scroll % width*/
            scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
            progress.style.setProperty('--scroll', scroll + '%');
            /*Apply classes for slide in bar*/
            scrollpos = window.scrollY;
            if (scrollpos > 10) {
                header.classList.add("bg-white");
                header.classList.add("shadow");
                navcontent.classList.remove("bg-gray-100");
                navcontent.classList.add("bg-white");
            } else {
                header.classList.remove("bg-white");
                header.classList.remove("shadow");
                navcontent.classList.remove("bg-white");
                navcontent.classList.add("bg-gray-100");
            }
        });
        //Javascript to toggle the menu
        document.getElementById('nav-toggle').onclick = function () {
            document.getElementById("nav-content").classList.toggle("hidden");
        }
    </script>

    {{ghost_foot}}
</body>

</html>