{{!< default}} 
<div class="flex flex-wrap h-full overflow-hidden">
    <div class="flex flex-wrap w-full pt-2 overflow-hidden">

            <div class="w-full">
            <img src="{{@site.cover_image}}" class="block object-cover w-full h-64 align-middle">
            </div>
            <div class="w-full px-0 mt-2 text-justify md:px-0 font-text xs:px-2 sm:px-2">
        {{>
        "index-text"}}
        </div>
        {{> subscribe}}
<div class="w-full mt-2 md:w-1/2">
<h1 class="text-sm font-bold text-center uppercase md:text-base font-header ">{{@custom.youtube_video_1_text}}</h1>
<div class="youtube-player" data-id="{{@custom.youtube_video_1_id}}">
    </div>
    </div>

        
<div class="w-full pl-3 mt-2 md:w-1/2">
<h1 class="font-bold text-center uppercase ext-sm md:text-base font-header ">{{@custom.youtube_video_2_text}}</h1>
<div class="youtube-player" data-id="{{@custom.youtube_video_2_id}}">
</div>
</div>
    </div>
    </div>

    <script>

  function labnolIframe(div) {
    var iframe = document.createElement('iframe');
    iframe.setAttribute(
      'src',
      'https://www.youtube.com/embed/' + div.dataset.id + '?autoplay=1&rel=0'
    );
    iframe.setAttribute('frameborder', '0');
    iframe.setAttribute('allowfullscreen', '1');
    iframe.setAttribute(
      'allow',
      'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture'
    );
    div.parentNode.replaceChild(iframe, div);
  }

  function initYouTubeVideos() {
    var playerElements = document.getElementsByClassName('youtube-player');
    for (var n = 0; n < playerElements.length; n++) {
      var videoId = playerElements[n].dataset.id;
      var div = document.createElement('div');
      div.setAttribute('data-id', videoId);
      var thumbNode = document.createElement('img');
      thumbNode.src = '//i.ytimg.com/vi/ID/hqdefault.jpg'.replace(
        'ID',
        videoId
      );
      div.appendChild(thumbNode);
      var playButton = document.createElement('div');
      playButton.setAttribute('class', 'play');
      div.appendChild(playButton);
      div.onclick = function () {
        labnolIframe(this);
      };
      playerElements[n].appendChild(div);
    }
  }

  document.addEventListener('DOMContentLoaded', initYouTubeVideos);
    </script>