{{!< default}}

{{#post}}

<script>
    let processScroll = () => {
  let docElem = document.documentElement, 
    docBody = document.body,
    scrollTop = docElem['scrollTop'] || docBody['scrollTop'],
      scrollBottom = (docElem['scrollHeight'] || docBody['scrollHeight']) - window.innerHeight,
    scrollPercent = scrollTop / scrollBottom * 100 + '%';  
    document.getElementById("progress-bar").style.setProperty("--scrollAmount", scrollPercent); 
}

document.onreadystatechange = function () {
  if (document.readyState == "complete") {
document.addEventListener('scroll', processScroll);
  }}
  
</script>
<article class="gh-article p-0 {{post_class}} font-text post-full-content">
<progress id="progress-bar" class="fixed top-0 left-0 z-20 w-full reading-progress-bar"></progress>
    <header class="pb-2 text-center">

        <h1 class="text-4xl font-bold gh-title font-header">{{title}}</h1>
        <span class="pt-2 m-1 text-xs font-subheader"><time datetime="{{date format="DD-MM-YYYY"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
        {{#if custom_excerpt}}
        <p class="text-sm font-bold gh-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        {{#if feature_image}}
        <img class="text-sm gh-feature-image font-header"
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 1000px, 2000px"
            loading="lazy"
            src="{{img_url feature_image size="xl"}}"
            alt="{{title}}"
        />
        {{/if}}
    </header>

    <div class="text-base gh-content font-text">
        {{content}}
    </div>

    <footer class="pt-4">

        <div class="text-sm gh-post-authors text-header">
            Written by {{#foreach authors}}<a href="{{url}}" class="font-bold">{{name}}</a>{{/foreach}}
        </div>

        {{!--
        <section class="gh-post-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

    </footer>

</article>

<aside class="w-full pb-4 gh-readmore">
    <div class="text-base gh-readmore-inner gh-container font-header">
        <div class="gh-readmore-next">
            {{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <p>{{title}}</p></a>{{/next_post}}
        </div>
        <div class="gh-readmore-prev">
            {{#prev_post}}<a href="{{url}}">
                <p>{{title}}</p> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}
